#App-Main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  background-color: rgb(0, 0, 0);
  color: rgb(248, 248, 6);
}

#Form-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

label {
  margin-right: 0.5rem;
}

.Section {
  margin: 1rem;
}

#User-Details {
  margin: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
}

#Accident-Details-Time {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0.5rem;
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}

#Submit-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
}


#Auth-Super-Div {

  display: flex;
  flex-direction: column;
  background-color: rgba(212, 212, 212, 0.8);
  position: fixed;
  align-items: center;
  min-height: 100%;
  width: 100vw;
  color: rgb(238, 255, 0);
  margin: 0;

}

#Auth-Main {
  display: flex;
  flex-direction: row;
  border-radius:1rem;
  align-items: center;
  width: 50%;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

#Auth-Main div {
  flex: 1;
 
 
}

#Message-Div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-Form {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: #333333;
  opacity: 1;
  border-radius:1rem;

}

.Auth-Form input {
  border-radius: 0.5rem;
  height: 10%;
  padding: 8px;
}

.Auth-Form button {
  background-color: red;
  color: yellow;
}

@media screen and (max-width: 720px)  {

  #Auth-Main {
    display: flex;
    flex-direction: column;
  }
  
}



