#App-Main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  background-color: rgb(0, 0, 0);
  color: rgb(248, 248, 6);
}

#Form-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

label {
  margin-right: 0.5rem;
}

.Section {
  margin: 1rem;
}

#User-Details {
  margin: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
}

#Accident-Details-Time {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0.5rem;
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}

#Submit-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
}


#Auth-Super-Div {

  display: flex;
  flex-direction: column;
  background-color: rgb(47, 46, 46);
  opacity: 0.8;
  align-items: center;
  position: absolute;
  min-height: 100%;
  width: 100%;
  color: rgb(109, 82, 134);
  margin: 0;

}

#Auth-Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  background-color: brown;
}

#Auth-Main div {
  flex: 1;
 
}

#Message-Div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-Form {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: rgb(59, 59, 77 );
  opacity: 1;

}

.Auth-Form input {
  border-radius: 0.5rem;
  height: 10%;
  padding: 8px;
}

@media screen and (max-width: 720px)  {

  #Auth-Main {
    display: flex;
    flex-direction: column;
  }
  
}



